html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#grid-section, #grid-setup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#grid-setup {
  padding-bottom: 10px;
}

.gridRow {
  display: flex;
}

.cell {
  border: 1px solid rgb(187, 186, 186);
  width: 10px;
  height: 10px;
}

.hover {
  background-color: #24B3A8;
}

#grid-size-btn {
  padding: 5px 10px;
}